$mobile-contents-width: 640px;
$min-contents-width: 1100px;


.Main {

  -ms-user-select: none; 
  
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  .firstDiv {
    position: flex;
    background-color: white;
    background-image: linear-gradient(
        to bottom ,
        rgba(255, 255, 255, 0.1) 5%,
        rgba(255, 255, 255, 0.5) 70%,
      
        rgba(255, 255, 255, 1) 90%
      ),
      linear-gradient(
        to right ,
        rgba(255, 255, 255, 0.1) 5%,
        rgba(255, 255, 255, 0.1) 80%,
        rgba(255, 255, 255, 1) 90%
      ),
      url('../../public/img/mainImg.png');
    background-position: 90%;
    background-repeat: no-repeat;
    background-size: contain;
    white-space: nowrap;
    margin-top: - 3rem;
    height: 30rem;
    color: #202529;
    font-size: 2rem;
   
    padding-left: 20%;
    
    
    
    @media (max-width: $min-contents-width) {
      background-position: 45vw;
      background-size: contain;
      padding-left: 10%;
    }
    p{margin-top:0rem;
    padding-top: 3rem;
    padding-bottom:0rem;  font-size: 1.2rem;
    margin-bottom: 0.5rem;
    @media (max-width: $mobile-contents-width) {
  
      background-size: contain;
      font-size: 3vw;
      padding-top: 5rem;
    }
}
@media (max-width: $mobile-contents-width) {
  font-size: 3vw;
  
  height: 20rem;
}
h2{
  font-size: 2rem;
  padding-top: 0rem;
  margin-top: 0rem;
  padding-bottom: 0rem;
  margin-bottom: 0.5rem;
  @media (max-width: $mobile-contents-width) {
    font-size: 5vw;
  }

}
  h1{margin-top: 0rem;
    padding-top: 0rem;}
    @media (max-width: $mobile-contents-width) {
      font-size: 5vw;
    }
  }
  .secondDiv {
    display: flex;
    flex-direction: row;
    background-color: #309694;
    color: white;
    h1 {
      margin: 0%;

      font-size: 3rem;
      @media (max-width: $mobile-contents-width) {
        flex-direction: column;
        font-size: 150vw / ($mobile-contents-width / 30px);
      }

    }

    ul {
      margin: 0%;
      
      display: flex;
      margin-left: auto;
      margin-right: auto;
      flex-direction: row;
      list-style: none;
      font-size: 1.2rem;
      justify-content: center;
      text-align: center;
      align-items: center;
      white-space: nowrap;  
    
      @media (max-width:$mobile-contents-width){
        display: flex;
        flex-direction: column;
        font-size: 1.3rem;
       
        
      }
      li {
        
        margin: 3rem;
        @media (max-width: $min-contents-width) {
          font-size: 90vw / ($min-contents-width / 20px);
          margin-left: auto;
        }
        @media (max-width:$mobile-contents-width){
          font-size: 1rem;
         margin-top: 0.2rem;
         margin-bottom: 0.2rem;
        }
      }
    }
  }
}
