$mobile-contents-width: 640px;
.TotalMain{
  position:absolute;
  height: 75vw;
  
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #e5e9ee;
  
 

.MainNavigation{
   box-shadow: 0px 4px 10px 2px  rgb(157, 157, 157)  ;
    position:flex;
    flex-direction: row;
    justify-items: center;
    background: linear-gradient(to right, #547B97, #40586a);
    padding-top: 1.5rem;
    padding-bottom: 0rem;
    height: 70px;
    color:white;
   

    @media (max-width: $mobile-contents-width) {
      position: flex;
      justify-items: center;
      flex-direction:column;
      height: 180px;
    }

    .title{
      
      position: absolute;
      font-size:2.2rem;
      margin-left: 15%;
      
      color: white;
      text-decoration: none;
      font-weight: 600;
      @media (max-width: $mobile-contents-width) {
        
        position: absolute;
        left: 50%;
        margin:0 0 0 -158px;
        
        font-size: 3rem;
        white-space: nowrap;
      }
      }

 .btn{

  
      display: flex;
      flex-direction:row;
      justify-content:flex-end;
      overflow:auto; 
      margin-right: 15%;

      @media (max-width: $mobile-contents-width) {
        
        position: absolute;
        left: 50%;
        top: 140px;
        margin:0 0 0 -100px;
        white-space: nowrap;


      }


      .loginBtn{
        background-color: #40586a;
        width: 90px;
        height: 43px;
        text-align: center;
        border: solid 1px white;
        color:white;
        line-height: 40px;
        border-radius: 5px;
        text-decoration: none;
        font-weight: 1000;
        &:hover{
          background-color: white;
          color:#40586a;
        }
      }
      .signBtn{
        background-color: #596671;
        width: 90px;
        height: 43px;
        text-align: center;
        border: solid 1px white;
        color:white;
        line-height: 40px;
        border-radius: 5px;
        text-decoration: none;
        font-weight: 1000;
        &:hover{
          background-color: white;
          color:#40586a;
        }
      }

    }
    



}

 
}