.MainNavigation{
    background-color: white;

 .btn{

      display: flex;
      margin-bottom: 0rem;
      height: 0;
      padding-top: 1.2rem;
      padding-right: 3rem;
      justify-content:end;
      align-items:flex-start;

    }
    .title{
            font-size:2.5rem;
            padding-bottom: 1.5rem;
             display: flex;
            justify-content: center;
            align-items: flex-start;

    }



}