$mobile-contents-width: 640px;
$min-contents-width: 1500px;
.EditTemplate{
    display: flex;
    padding:0;
    margin:0;
    justify-content: center;
    margin-top: 2rem;
.edit-box{
    box-shadow: 0px 1px 1px 0px rgb(157, 157, 157);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding:0;
    width: 70vw;
    max-width:60rem;
    height: 40rem;
    justify-content: center;
    border: 1px solid #dcdcdc;
}
.backBtn{
    box-shadow: 0px 2px 3px 0px rgb(157, 157, 157);
    right:auto;
    position:absolute;
    display: flex;
    margin-left: 60vw;
    margin-bottom:35rem;
    background-color: white;
    border: solid thin black;
    border-radius: 0.2rem;
   
    width: 2rem;
    height: 2rem;
    @media (min-width:$min-contents-width) {
        margin-bottom:35rem;
        margin-left: 55rem;
    
      
    }
    @media (max-width:$mobile-contents-width) {
        margin-bottom:35rem;
        margin-left: 18rem;
      
      
    }
    vertical-align: middle;
    text-align: center;
    &:hover{
        background-color: #c6c6c6;
        color:white;
    }
    &:active{
        background-color: #b4b4b4;
    }
    .icon{
        font-size: 2rem;
        color: #b4b4b4;
        
    }
}

}