$mobile-contents-width: 650px;
$min-contents-width: 1500px;
.EditTemplate{
    display: flex;
    padding:0;
    margin:0;
    justify-content: center;
    margin-top: 2rem;
.edit-box{
    
    box-shadow: 0px 1px 1px 0px rgb(157, 157, 157);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding:0;
    width: 85vw;
    max-width:60rem;
    height: auto;
    padding-bottom: 2rem;
    justify-content: center;
    border: 1px solid #dcdcdc;
   
    .backBtn{
        box-shadow: 0px 2px 3px 0px rgb(157, 157, 157);
        margin-left: auto;
        margin-top:1rem;
        margin-right: 1rem;

        background-color: white;
        border: solid thin black;
        border-radius: 0.2rem;
       
        width: 2rem;
        height: 2rem;
       
        vertical-align: middle;
        text-align: center;
        &:hover{
            background-color: #c6c6c6;
            color:white;
        }
        &:active{
            background-color: #b4b4b4;
        }
        .icon{
            font-size: 2rem;
            color: #b4b4b4;
            
        }
    }
}


}