.Calendar{
    
    height:5rem;
    width:5rem;
    display: flex;      
    flex-direction: column;   

    display: flex;

    html, body {
         height: 100%;
    }

  
  .control{
    width: 55rem;
    display: flex;      
    flex-direction: row;  
    justify-content: center;
    span{
        font-size: 2rem;
        
    }
    button{
font-size: 2rem;
    }
  }

  table, .th, .td{
    border: 1px dotted;
  }

  table{
   
    font-size: 1.5rem;
    display:flex;
    flex-direction: column;
    width:58rem;
    height:100rem;
    background-color: white;
  thead{
    border-style: solid ;
    display:flex;
    flex-direction: column;

  }
    tbody{
        border-style: solid ;
    display:flex;
    flex-direction: column;
  }

 
   tr{
    
 
      display:flex;
      flex-direction: row;
      td{
      
        border-style: thin dotted;
       display:flex;
       border:1px solid gray;
       width:8rem;
       height:6rem;
    }
 th{
    border-style: solid;
    display:flex;
    justify-content: center;
    border:1px solid gray;
    width:8rem;
    height:2rem;
 }
  }

}
}