/**
로그인, 회원가입, 비밀번호 찾기를 위한 레이아웃 템플릿
**/


.AuthTemplate{
    background: #dbdbdb;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
    overflow:hidden;

    .login-title{
      background: linear-gradient(to right, #547B97, #465d6e);
        color: white;
        height: 4rem;
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .content{
        background: white;
        display:flex;

        justify-content: center;
      }
    }

