.WorkManagementBtn {
  display: flex;



  .btn {
     text-align: center;
    display: flex;
    flex-direction: column;
    
    .top{margin-left: auto;}
    b{   vertical-align: middle;
    
     }
  }
}
