.WorkSheet {
  display: flex;
  flex-direction: column;
  background: white;

  padding: 0px;
  .sheetTop {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    margin-bottom: 1rem;
    align-items: center;
    
    .month{
      flex-grow: 6;
      margin-top: 30px;
      justify-content: flex-end;
  
  .monthBtn {
    background-color: white;
    color: #40586a;
    border: thin solid #40586a;

    margin: 10px;
    width: 2rem;
    height: 2rem;
    &:hover {
      background-color: #d4e4f0;
    }
  }
}
  .settingBtn{
    flex-grow: 0;

  
    
  }
 }
  .tableColumn {
    align-items: center;
    height: 5px;
    border: solid thin #d6d6d6;
    border-collapse: collapse;
    overflow-x: scroll;
    select{
      -webkit-appearance:none; 
    -moz-appearance:none;
    appearance:none ;
    text-align-last: center;
    font-size: 1rem;
    padding:2px 10px 2px 10px;
    border: 0;
    }
    .metaInfo{
      white-space: nowrap;

    }
    th {
      border: solid thin #d6d6d6;
      padding: 0;
      align-items: center;
      white-space: nowrap;
    }
    tr {
      padding: 0;

      border-collapse: collapse;
      align-items: center;
    }
    td {
      padding: 0;
      border: solid thin #d6d6d6;
      border-collapse: collapse;
      align-items: center;
      text-align: center;
    }
  }
}
