$min-contents-width: 1050px;
.WorkManagementBtn {
  display: flex;



  .btn {
     text-align: center;
    display: flex;
    flex-direction: column;
   
    .top{margin-left: auto;}
    b{  
     
     }
     @media (max-width: $min-contents-width) {
   
      
    }
  }
}
