.WorkScheduleSum {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;

  table {
    display: flex;
    flex-direction: column;
    background: white;

    overflow-x: auto;
    overflow-y: hidden;

    tbody {
      border-collapse: collapse;
      padding: 0;

      align-items: center;
    }

    th {
      border: solid thin #d6d6d6;
      border-collapse: collapse;
      padding: 0;
      align-items: center;
      width: 5rem;
    }
    td {
      border: solid thin #d6d6d6;

      width: 10rem;
      padding: 0;
      align-items: center;
    }
    tr {
      border-collapse: collapse;
      padding: 0;

      align-items: center;
    }
  }
}
