$mobile-contents-width: 700px;
$min-contents-width: 1400px;
.WorkSheet {
  position: relative;
  display: flex;
  width:70vw;
  flex-direction: column;
    flex-wrap: nowrap; 
    padding:0;
    margin:0;
    padding:0;
    margin:0;
    justify-content: center;

  margin-top: 2rem;

  .contentDiv{

  .sheetTop {
   
    display: flex;
    flex-direction: row;

    margin-bottom: 1rem;
    align-items: center;
    
    .month{
      white-space: nowrap;
      flex-grow: 1.5;
     
      margin-top: 30px;
     vertical-align: middle;
    
      font-size: 1.2rem;
      
      @media (max-width: 1000px) {

        font-size: 0.7rem;
        margin-right:0%;

      }
  .monthBtn {
    
    background-color: white;
    color: #40586a;
    border: thin solid #40586a;
    font-size: 0.4rem;
    text-align: center;
    align-items: center;
 
    margin: 10px;
    width: 1.5rem;
    height: 1.5rem;
    &:hover {
      background-color: #d4e4f0;
    }
   
    @media (max-width: 1000px) {
      
      width: 2rem;
      height: 2rem;
      margin: 0.1rem;
    
    }
  }
  
}

  .settingBtn{
   
    float: right;
    margin-left: auto;
 
  white-space: nowrap;
 
  @media (min-width: 1000px) {
      
    position: relative;
    margin-right: 0rem;

  
  }

    
  }
 }
 .scrollTable{ 
 
 
  overflow:auto;
 
  .tableColumn {
    min-width: 100%;
  
    flex: 0 0 auto;
    align-items: center;
    height: 5px;
    border: solid thin #d6d6d6;
    border-collapse: collapse;

    select{
      -webkit-appearance:none; 
    -moz-appearance:none;
    appearance:none ;
    text-align-last: center;
    font-size: 1rem;
    padding:2px 10px 2px 10px;
    border: 0;
    }
    .metaInfo{
      white-space: nowrap;

    }
    th {
      border: solid thin #d6d6d6;
      padding: 0;
      align-items: center;
      white-space: nowrap;
      font-size: 0.8vw;
    }
    tr {
      padding: 0;
      font-size: 0.8vw;
      border-collapse: collapse;
      align-items: center;
    }
    td {
      padding: 0;
      border: solid thin #d6d6d6;
      border-collapse: collapse;
      align-items: center;
      text-align: center;
      font-size: 0.8vw;
    }
  }
 
}
.scrollTable::-webkit-scrollbar {
  
  height: 12px;
  width: 3px;
}
.scrollTable::-webkit-scrollbar-thumb {
  background-color: #40586a;
  border-radius: 10px;
  background-clip: padding-box;
  border: 3px solid transparent;
}
.scrollTable::-webkit-scrollbar-track {

  background-color: grey;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}
}}