$mobile-contents-width: 700px;
$min-contents-width: 1400px;
.WorkSheet {
  display: flex;
  flex-direction: column;
  background: white;
  flex-wrap: nowrap; 

  margin-top: 2rem;
  padding: 0px;
  .sheetTop {
   
    display: flex;
    flex-direction: row;
    
    margin-bottom: 1rem;
    align-items: center;
    
    .month{
      white-space: nowrap;
      flex-grow: 1.5;
     
      margin-top: 30px;
     vertical-align: middle;
    
      font-size: 1.2rem;
      
      @media (max-width: $mobile-contents-width) {

        font-size: 0.7rem;
        margin-right:0%;

      }
  .monthBtn {
    
    background-color: white;
    color: #40586a;
    border: thin solid #40586a;
    font-size: 0.4rem;
    text-align: center;
    align-items: center;
 
    margin: 10px;
    width: 2rem;
    height: 2rem;
    &:hover {
      background-color: #d4e4f0;
    }
   
    @media (max-width: $mobile-contents-width) {
      
      width: 1rem;
      height: 1rem;
      margin: 0.1rem;
    
    }
  }
  
}
.monthStr{
  padding-top: 500px;
}
  .settingBtn{
    flex-grow: 0.5;
 
  white-space: nowrap;
  
  @media (max-width: $min-contents-width) {
    
    flex-grow: 5;
  }
  

    
  }
 }
 .scrollTable{ 
  width:80vw;
  overflow:auto;
  .tableColumn {

  
    flex: 0 0 auto;
    align-items: center;
    height: 5px;
    border: solid thin #d6d6d6;
    border-collapse: collapse;

    select{
      -webkit-appearance:none; 
    -moz-appearance:none;
    appearance:none ;
    text-align-last: center;
    font-size: 1rem;
    padding:2px 10px 2px 10px;
    border: 0;
    }
    .metaInfo{
      white-space: nowrap;

    }
    th {
      border: solid thin #d6d6d6;
      padding: 0;
      align-items: center;
      white-space: nowrap;
      font-size: 0.8vw;
    }
    tr {
      padding: 0;
      font-size: 0.8vw;
      border-collapse: collapse;
      align-items: center;
    }
    td {
      padding: 0;
      border: solid thin #d6d6d6;
      border-collapse: collapse;
      align-items: center;
      text-align: center;
      font-size: 0.8vw;
    }
  }
 
}
.scrollTable::-webkit-scrollbar {
  
  height: 12px;
  width: 3px;
}
.scrollTable::-webkit-scrollbar-thumb {
  background-color: #40586a;
  border-radius: 10px;
  background-clip: padding-box;
  border: 3px solid transparent;
}
.scrollTable::-webkit-scrollbar-track {

  background-color: grey;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}
}