$min-contents-width: 1500px;
$mobile-contents-width: 650px;
.GroupTemplate{
    display: flex;
    padding:0;
    margin:0;
    justify-content: center;
    margin-top: 2rem;
    
    .temp-contents-area{
        box-shadow: 0px 1px 1px 0px rgb(157, 157, 157);
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding:0;
        width: 56vw;
        height: 30vw;
        justify-content: center;
        border: 1px solid #dcdcdc;
        
        @media (min-width:$min-contents-width) {
            width: 65rem;
            height: 30rem;
        }
        @media (max-width: $mobile-contents-width) {
            width: 80vw;
            height: 80vw;
            
            
        }
        
    }
}