$min-width: 512px;
$calendar-min-width: 1250px;

.Calendar {
  margin-top: 10px;
 height: auto;

  display: flex;
  width: 80vw;
  
  flex-direction: column;
  white-space: nowrap;
  
  .selectNurse{
    height: 2rem;
    width: 8rem;
    font-size: 1rem;
   
    justify-items: left;
  }
  html,
  body {
    height: auto;
    
  }

  .control {
    width: 80vw;
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    left: 50%;
    top: 50%;

    span {
      font-size: 1.5rem;
    }
    button {
      font-size: 1.5rem;
      color: white;
      background-color: #50b8b4;
      border: #50b8b4;
      width: 2rem;
      height: 2rem;
      border-radius: 10%;
      margin-right: 20px;
      margin-left: 20px;
      margin-bottom: 20px;
    }
  }




  table {
  
    
    width: auto;
    border: 1px thin solid grey ;
    border-collapse: collapse;
    background-color: white;
 
    thead {
      width: 80vw;
      display: flex;
      flex-direction: column;
     
    }
    tbody {
      width: 80vw;
      display: flex;
      
      flex-direction: column;
    }

    tr {
      display: flex;
      flex-direction: row;
      td {
        display: flex;
        flex-direction: column;
        border: 1px solid #c3c3c3; 
        height: 10vw;
        width: 15vw;
        font-size: 1.8vw;
        @media (min-width:$calendar-min-width) {
          font-size: 1.2rem;
          height: 7rem;
         
        }
      }
      th {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #c3c3c3;
        width: 15vw;
        font-size: 1.3vw;
        @media (min-width:$calendar-min-width) {
          font-size: 1vw;
     
        }
        height: 1.3rem;
      }
    }
    .trDay {
      background-color: #e3e3e3;
      height: 25px;
    }
  }
}
