$mobile-contents-width: 640px;
$min-contents-width: 1050px;
.SetDutyCodeElement{
    display: flex;
    padding: 1rem;
    flex-direction: column;
    max-height: 20rem ;
    .title{
        position: relative;
        font-size: 1rem;
      
    }
    .btns{
        position: relative;
       display: flex;
       margin-left: auto;

    }
    .tableDiv{
      overflow-y: scroll;
    table{
      
 
     
      border: solid thin #d6d6d6;
      border-collapse: collapse;
      overflow:auto;
      white-space: nowrap;
        th,tr,td{
            white-space: nowrap;
            width:20vw;
            text-align: center;
              border: solid thin #d6d6d6;
              border-collapse: collapse;
              font-size: 0.8vw;
              .check{width: 1%;
  
              }
              .id{width: 1%;

              }
             
               
        
              .dutyCode{
                width:90%;
                
                font-size: 0.5vw;
                  width: 1%;
                  text-align: center;
            
                  input{
                    width:30%; 
                    @media (max-width: $min-contents-width) {
                        text-align: center;
                      font-size: 0.5vw;
                      
                  
                  }
                }
            }
              .dutyCodeName{width: 30%;
                input{
                    width:95%;  }}
              .hexColor{width: 5%;}
              .startTime{width: 30%;}
              .workingHours{width: 5%;}
              .workType{width: 10%;}
              .useable{width: 5%;}

            
                
        }
    }
  }
}