$mobile-contents-width: 640px;
$min-contents-width: 1050px;
.SetDutyCodeElement{
    display: flex;
    padding: 1rem;
    flex-direction: column;
    max-height: 20rem ;
   
    .title{
        position: relative;
        font-size: 1rem;
      
    }
    .btns{
        position: relative;
       display: flex;
       margin-left: auto;
       margin-bottom: 0.5rem;
       

    }
    .tableDiv{
      overflow-y: scroll;

    table{
      min-width: 42vw;
 
     
      border: solid thin #d6d6d6;
      border-collapse: collapse;
      overflow:auto;
      white-space: nowrap;
        th,tr,td{
            white-space: nowrap;
            width:20vw;
            text-align: center;
              border: solid thin #d6d6d6;
              border-collapse: collapse;
              font-size: 0.8vw;
              .check{width: 1%;
                font-size: 0.4rem;
                zoom: 1.3;
              }
              .id{width: 1%;

              }
             
               
        
              .dutyCode{
                width:90%;
                
                font-size: 0.5vw;
                  width: 1%;
                  text-align: center;
            
                  input{
                    width:70%; 
                    @media (max-width: $min-contents-width) {
                        text-align: center;
                      font-size: 0.5vw;
                    
                  }
                }
            }
              .dutyCodeName{width: 22%;
                padding: 0%;
                input{
                    width:10rem;
                  }}
              .hexColor{width: 1%; 
              input{width: 1.5rem; padding: 0;}}
              .startTime{width: 15%;
                .without_ampm::-webkit-datetime-edit-ampm-field {
                  display: none;
                }
                input[type=time]::-webkit-clear-button {
                  -webkit-appearance: none;
                  -moz-appearance: none;
                  -o-appearance: none;
                  -ms-appearance:none;
                  appearance: none;
                  margin: -10px; 
                }
              }
              .workingHours{width: 5%;
              input{
                width: 70%;
              }}
              .workType{width: 5%;}
              .usable{width: 1%;
                font-size: 0.5vw;
                input{zoom: 1.3;
                }
              }
              .creator{width:5%;
                input{
                  width:90%; 
                  @media (max-width: $min-contents-width) {
                      text-align: center;
                    font-size: 0.5vw;
                    
                
                }}
              }
            
                
        }
    }
  }
}