.SetNurseElement{
    display: flex;
    padding: 1rem;
    flex-direction: column;
    .title{
        font-size: 1rem;
      
    }
    .btns{
       display: flex;
       margin-left: auto;
       
      

    }
    table{
       
        border: solid thin #d6d6d6;
      border-collapse: collapse;
        th,tr,td{
            text-align: center;
              border: solid thin #d6d6d6;
              border-collapse: collapse;

        }
    }

}