/**
로그인, 회원가입, 비밀번호 찾기를 위한 레이아웃 템플릿
**/


.AuthTemplate{
    
    background: #dbdbdb;
    width: 410px;
    
    background-color: white;
    color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    overflow:hidden;
    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    .title{
      background: linear-gradient(to right, #547B97, #465d6e);
        color: white;
        height: 4rem;
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .content{
        background: white;
        display:flex;
        
        justify-content: center;
      }
    }

