$mobile-contents-width: 640px;

.LoginElement{
  
          p{  
            margin-left: 8%;
            margin-top: -4%;
            font-size: 13px;
            color: red;
            
          }
          input{
                font-size: 1rem;
                padding-left: 1rem;
                margin-left: 8%;
                
                margin-top:1rem;
                width: 20rem;
                height: 2.5rem;
                border-radius: 3px;
                border: 1px solid;
                &::placeholder{

                    font-size:0.9rem;
                }

            }
            .loginBtn{
               display: flex;
               align-items:center;
               justify-content:center;
               margin-top: 1rem;
               margin-bottom: 1rem;
               margin-left: 7.5%;
               background: #50B8B4;
               color: white;
               border: 0;
               height: 2.6rem;
               width:21.3rem;
               font-size: 1.2rem;
               text-decoration-line: none;
               &:hover{
                 background: #3c8a87;
               }
               }
              .socialBtn{
                display: flex;
                margin-left: 1rem;
                align-items: center;
               
                .googleBtn{
                  height: 58px;
                  width: 58px;
                  margin: 1rem;
                }
                .naverBtn{
                  height: 50px;
                  width: 50px;
                }

              }

              .otherElement{
              display: flex;
              align-items:center;
              justify-content:center;
              margin-right: 2%;
              .signBtn{
               margin-left:0.7rem;
                display: flex;
               align-items:center;
               justify-content:center;
              display: flex;
                margin-top: 1rem;
               margin-bottom: 1rem;
               background: #50B8B4;
               color: white;
               border: 0;
               height: 2.6rem;
               width:12.5rem;
               font-size: 1.2rem;
                 text-decoration-line: none;
               &:hover{
                               background: #3c8a87;
                       }
              }
              .findPasswordBtn{

                display: flex;
               align-items:center;
               justify-content:center;
              display: flex;
                margin-top: 1rem;
               margin-bottom: 1rem;
               background: #50B8B4;
               color: white;
               border: 0;
               height: 2.6rem;
               width:8.3rem;
               font-size: 1.2rem;
                 text-decoration-line: none;
               &:hover{
                               background: #3c8a87;
                       }
              }
              }
    }



