/*
회원가입요소
*/
$mobile-contents-width: 640px;
.SignUpElement{
        position: flex;
        margin-top:1rem;
       
        .check{
           
            font-size: 12px;
            color: red;
            float: left;
            margin: auto; 
            
        }

        input{
                font-size: 1rem;
                padding-left: 1rem;
                display: flex;
                margin-top:0.8rem;
                margin-bottom:0.8rem;
                width: 21.3rem;
                height: 2.6rem;
                border-radius: 3px;
                border: 1px solid;
                
                &::placeholder{

                    font-size:1rem;
                }

            }
            .signBtn{
               display: flex;
               align-items:center;
               justify-content:center;
               margin-top: 2rem;
               margin-bottom: 1rem;
               background: #50B8B4;
               color: white;
               border: 0;
               height: 2.5rem;
               width:23rem;
               font-size: 1.2rem;
               text-decoration-line: none;
               &:hover{
                 background: #3c8a87;
               }
               }


}