$mobile-contents-width: 640px;

.LeftNavigation {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  .nav {
    padding-top: 1rem;
    @media (max-width: $mobile-contents-width) {
      position: fixed;
      margin: 0%;
      padding: 0%;
      z-index: 100;
 
    }
    
    display: flex;

    color: #e9e9e9;

    background: #40586a;
    white-space: nowrap;
    height: 100vh;
    min-height: 100vh;
    margin: 0;
  
    ul {
      padding-left:0 ;
      padding-top: 10px;
      margin: 0%;
      text-decoration: none;
      
      li {
        color: white;
        list-style: none;
        padding: 1rem 1rem 1rem;
        
        b {
          padding-right: 3.5rem;
        }
        font-size: 1rem;
        text-decoration: none;

        &:hover {
          background-color: #547b97;
          color: white;
        }
        b {
          margin-left: 1rem;
        }
    
          
        
      }
      .icon{
        @media (max-width: $mobile-contents-width) {
       
          visibility: hidden;
          padding:0;
          margin:0%;
           
         }
        }
    }
  }
  .content {
    display: flex;
    height: 5vw;
    width: 85vw;

    margin: 2.1rem;
    @media (max-width: $mobile-contents-width) {
      margin-left: 2rem;
    }
  }
}
