$mobile-contents-width: 640px;


.SideNavigation {
  display: flex;

  width: auto;
  height: auto;
  padding:0;
  margin: 0;
  .nav{
    
    flex: auto auto auto;
    z-index: 10;
    padding-top: 1rem;
   
    height: calc(100vh - 2rem);  
    color: #e9e9e9;
    background: #40586a;
    white-space: nowrap;
    margin: 0;
    
    @media (max-width: $mobile-contents-width) {
     
      position: fixed;
      margin: 0%;
  

    }
    .ul_hide_nav{
    @media (max-width: $mobile-contents-width) {
     
    
      display: none;
    }}
    ul {

  

    
      padding-left:0 ;
      padding-top: 10px;
      margin: 0%;
      text-decoration: none;
     
      .masterSelect{
        .masterSelectEl{
      
          visibility : hidden;
          opacity : 0;
          transition : .2s ease-in-out;
          transform : translateY (-20px);
          padding: 0;
          display:none;
          background-color: #40586a;
          li{
            padding-top:0.7rem;
            padding-bottom:0.7rem;
            padding-left: 4rem;

          }
          .subMenu{
            font-size: 1rem;
          }
        }
       &:hover{
        .masterSelectEl{
          display: block;
          visibility : visible;
          opacity : 1;
        transform : translateY (0);
        transform : rotateX (0) rotateY (-90deg);
        
        }
       }
      }
      li {
        font-weight: bold;
        color: white;
        list-style: none;
        padding: 1rem 1rem 1rem;
        
        b {
          padding-right: 3.5rem;
        }
        font-size: 1rem;
        text-decoration: none;

        &:hover {
          background-color: #547b97;
          color: white;
        }
        b {
          margin-left: 1rem;
        }
    
          
        
      }
      .icon{
        
        @media (max-width: $mobile-contents-width) {
      
          visibility: hidden;
          padding:0;
          margin:0%;
          
         }
        }
    }
  }
  
  .contents {
    display: flex;

    .title{
      justify-content: left;
    }
    flex: auto auto 0;
    width: auto;
    display: flex;
    min-height: calc(100vh - 10rem);    
    padding:0;
    margin: 1.5rem;
    margin-right: 0;
    margin-top:2.1rem;
 
      justify-content: center;
    
 
  

  }
  .contents_hide_nav{
    display: flex;
    .title{
      
    }
    width: auto;
    flex: auto auto 0;
    display: flex;
    min-height: calc(100vh - 10rem);   
    padding:0;
    margin: 1.5rem;
    margin-right:0;
    margin-top:2.1rem;

  justify-content: center;
 

    
      
  

  }
  

}