$mobile-contents-width: 640px;


.SideNavigation {
  display: flex;
  padding:0;
  width: 50rem;
  height: auto;
  .nav{
    flex: auto auto auto;
    z-index: 10;
    padding-top: 1rem;
   
    height: calc(100vh - 2rem);  
    color: #e9e9e9;
    background: #40586a;
    white-space: nowrap;
    margin: 0;
    
    @media (max-width: $mobile-contents-width) {
      position: fixed;
      margin: 0%;
      padding: 0%;

    }
    .ul_hide_nav{
    @media (max-width: $mobile-contents-width) {
     
    
      display: none;
    }}
    ul {

  

    
      padding-left:0 ;
      padding-top: 10px;
      margin: 0%;
      text-decoration: none;
     
      .masterSelect{
        .masterSelectEl{
          
          visibility : hidden;
          opacity : 0;
          transition : .2s ease-in-out;
          transform : translateY (-20px);
          padding: 0;
          display:none;
          background-color: #40586a;
          li{
            padding-top:1rem;
            padding-left: 6rem;
          }
        }
       &:hover{
        .masterSelectEl{
          display: block;
          visibility : visible;
          opacity : 1;
        transform : translateY (0);
        transform : rotateX (0) rotateY (-90deg);
        @keyframes slide-fade-in-dropdown-animation {
          0% {
            transform: translateY(-100%);
          }
        
          100% {
            transform: translateY(0);
          }
        }
        
        .slide-fade-in-dropdown {
          overflow: hidden;
        }
        
        .slide-fade-in-dropdown > ul {
          animation: slide-fade-in-dropdown-animation .4s ease;
        }
        
        /* fade out */
        
        @keyframes slide-fade-out-dropdown-animation {
          0% {
            transform: translateY(0);
          }
        
          100% {
            transform: translateY(-100%);
          }
        }
        
        .slide-fade-out-dropdown {
          overflow: hidden;
        }
        
        .slide-fade-out-dropdown > ul {
          animation: slide-fade-out-dropdown-animation 0.4s ease;
          animation-fill-mode: forwards;
        }
        }
       }
      }
      li {
        color: white;
        list-style: none;
        padding: 1rem 1rem 1rem;
        
        b {
          padding-right: 3.5rem;
        }
        font-size: 1rem;
        text-decoration: none;

        &:hover {
          background-color: #547b97;
          color: white;
        }
        b {
          margin-left: 1rem;
        }
    
          
        
      }
      .icon{
        @media (max-width: $mobile-contents-width) {
       
          visibility: hidden;
          padding:0;
          margin:0%;
          
         }
        }
    }
  }
  
  .content {
    flex: auto auto 0;
    display: flex;
    min-height: calc(100vh - 10rem);    
    
    
   padding: 2.1rem;
 
  
  

  }
  .content_hide_nav{
    flex: auto auto 0;
    display: flex;
    min-height: calc(100vh - 10rem);   
   
    padding: 2.1rem;
  
 
  

  }
  

}