$mobile-contents-width: 640px;
$min-contents-width: 1050px;
.whole {
  position: absolute;
  width:100vw;
  height:100vh;

  min-height: auto;
  max-height: auto;
  -ms-user-select: none; 
 background-color: white;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  @media (max-width: $mobile-contents-width) {
    position: fixed;
    margin: 0%;
    padding: 0%;

  }
  .TopNavigation {
    box-shadow: 0px 3px 10px 1px rgb(157, 157, 157);
    background: white;
    height: 4rem;
 
    .topNav {
   
      display: flex;
      
      flex-direction: row;
      padding-top: 20px;
      padding-left: 13px;
z-index: 20;
      text-decoration: none;

      .menu {
       
        .menuIcon {
          width: 1.8rem;
          height: 1.8rem;
        }
        
      }

      .endElement {
      
        right: auto;
       
      
        display: flex;
        flex-direction: row;

        margin-left: auto;
        margin-right: 2rem;
       
        @media (max-width: $mobile-contents-width) {
          right: auto;
          margin-left: auto;
         margin-right: 0.5rem;
      
        }
        .refreshIcon {
          display: flex;

          margin-top: 5px;
          margin-right: 20px;

          width: 1.6rem;
          height: 1.6rem;
        }
        .help {
          z-index:2;
          display: flex;
          margin:0;
          flex-direction: row;
         
          padding: 5px;

          .helpIcon {
            width: 1.6rem;
            height: 1.6rem;
          }
          .bottomArrowIcon {
            color: black;
            width: 1.3rem;
            height: 1.3rem;
          }
         
        }
        .myPage {
          display: flex;
          z-index:2;
          flex-direction: row;

          padding: 5px;
          .settingIcon {
            width: 1.6rem;
            height: 1.6rem;
          }
          .bottomArrowIcon {
            color: black;
            width: 1.3rem;
            height: 1.3rem;
          }
          
        }
      }
      
      .groupName {
        position: absolute;
        font-style: bold;
        font-size: 20px;

        margin-left: 50px;
        color: black;
      }
      
    }
  }
  
  .content{
    overflow: scroll;
    max-height: calc(100%);
    min-width: auto;
    height: calc(100% - 4rem);
  
  }
}
