/**
비밀번호 찾기 요소
**/


.FindPassword{
  margin-top:1rem;
        b{
            font-size:1rem;

        }


 input{
                font-size: 1rem;
                padding-left: 1rem;
                display: flex;
                margin-top:1rem;
                margin-bottom:1rem;
                width: 24rem;
                height: 2.8rem;
                border-radius: 3px;
                border: 1px solid;

                &::placeholder{

                    font-size:1rem;
                }

            }
.btn{
    display: flex;

    justify-content:flex-end;


    .find{
                     display: flex;
                     align-items:center;
                     justify-content:center;
                     display: flex;
                     margin-top: 1rem;
                     margin-bottom: 1rem;
                     background: #42c981;
                     color: white;
                     border: 0;
                     height: 2.5rem;
                     width:5rem;
                     font-size: 1.2rem;
                     &:hover{
                                background: #3ab574;
                     }
    }
    .cancel{
                         display: flex;
                         align-items:center;
                         justify-content:center;
                         display: flex;
                         margin-top: 1rem;
                         margin-bottom: 1rem;
                         margin-right:1rem;
                         background: #848484;
                         color: white;
                         border: 0;
                         height: 2.5rem;
                         width:5rem;
                         font-size: 1.2rem;
                         &:hover{
                                    background: #A4A4A4;
                         }


    }
}
}