$mobile-contents-width: 640px;
.Main{
    position: flex;
    .firstDiv{
        position: flex;
        background: linear-gradient(to right, #50B8B4, #156d6a);
        color: white;
        padding-top: 3rem;
        padding-left: 8rem;
        padding-bottom: 3rem;
        
        h1{ 
            margin:0%;
         
            
            font-size: 3rem;
            @media (max-width: $mobile-contents-width) {
                
                
                font-size: 120vw / ($mobile-contents-width / 30px);
                white-space: nowrap;
              }
                
              
        }

        ul{
            margin:0%;
         
            list-style:none;
            font-size: 1rem;
            @media (max-width: $mobile-contents-width) {
               
                font-size: 80vw / ($mobile-contents-width / 15px);
                white-space: nowrap;
              }

        }

    }

}